<!-- Intro Start -->

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Kartik Arora</h1>
                    <p>Android Developer | Drummer | Tech & F1 Enthusiast</p>
                    <br>
                    <span class="intro-text">{{ content }}</span>
                    <br><br>
                    <br><br>
                    <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Intro End -->
