<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{%- include head.html -%}

<body>

{%- include navigation.html -%}
<section id="page" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            {{ page.content | markdownify }}
            <br>
            {%- for talk in site.posts -%}
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img class="img-me img-responsive" src="/{{talk.thumb-img}}"/>
                </div>
                <div class="col-9 col-md-9 col-sm-9">
                    <br>
                    <br>
                    <h3 align="justify"><a href="{{talk.baseurl}}{{talk.url}}"> {{ talk.title }}</a> @ {{ talk.location }}</h3>
                    <br>
                    <h5 align="left">Presented On {{ talk.date | date_to_string }}</h5>
                    <br>
                </div>
            </div>
            {%- if forloop.last -%}
            <br><br>
            {%- else -%}
            <hr>
            {%- endif -%}
            {%- endfor -%}
        </div>
    </div>

</section>

{%- include footer.html -%}

</body>
</html>

<!-- Blog Layout End -->