<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include navigation.html %}

<section id="page" class="container content-section text-center">
    <div class="row">
        <!-- asdasds -->
        <div class="col-lg-10 col-lg-offset-1">
            {{ page.content | markdownify }}
            <br>
            {% for talk in site.posts %}
            <h3><a href="{{talk.baseurl}}{{talk.url}}"> {{ talk.title }}</a></h3>
            <img class="img-me img-responsive" src="/{{talk.cover-img}}" />
            <br><h5>Presented On: {{ talk.date | date_to_string }}, Technology {{ talk.technology }}</h5>
            <hr>
            {% endfor %}
            {% include social-buttons.html %}

        </div>
    </div>
</section>

{% include footer.html %}

{% include js.html %}

</body>
</html>

<!-- Blog Layout End -->